USE [TimesEF]

SELECT * FROM [TimesEF].[dbo].[ReadModel-Competition]
SELECT * FROM [TimesEF].[dbo].[ReadModel-Entry]
SELECT * FROM [TimesEF].[dbo].[Competitions]
SELECT * FROM [TimesEF].[dbo].[Entries]
SELECT count(*) FROM [TimesEF].[dbo].[EventFlow]
SELECT * FROM [TimesEF].[dbo].[EventFlowSnapshots]

truncate table [ReadModel-Competition]
truncate table [ReadModel-Entry]
truncate table [Competitions]
truncate table [Entries]
truncate table [EventFlow]
truncate table [EventFlowSnapshots]